@media (max-width: 1199.98px){
	.speaker_img {
		width: 11rem;
		height: 14.9rem;
	}
	.speaker {
		width: 25rem;
	}
	.speaker-help {
		width: 25rem;
	}
	.speaker__text {
		width: 25rem;
	}
	.members__img {
		width: 17.7rem;
		height: 10rem;
	}

	.logo_in_about {
		width: 15rem; 
		height: 15rem;
	}
}

@media (max-width: 991.98px) {
	html {
		font-size: 85%;
	}
	.effect-item__img {
		width: 10rem;
		height: 10rem;
	}
	body {
		line-height: 140%;
	}
	.header_fixed {
		padding-bottom: 1rem;
		padding-top: 1rem;
		height: 7rem;
	}
	.header_fixed .header__content {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media (max-width: 767.98px){
	.header__content {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.about__text {
		margin-left: 1rem;
	}
	.logo_in_about {
		display: none;
	}
	.logo_in_header {
		display: block;
	}
	.logo-and-contact {
		flex-direction: column;
	}
	.members__img {
		width: 12.39rem;
		height: 7rem;
	}
	.title {
		margin-right: 12rem;
		margin-left: 0rem;
	}
	.speaker_img {
		width: 9rem;
		height: 12.2rem;
	}
	.speaker {
		width: 18rem;
	}
	.speaker-help {
		width: 18rem;
	}
	.speaker__text {
		width: 18rem;
	}
	.speaker__info {
		flex-direction: column-reverse;
		align-items: center;
		
	}
	.speaker__name {
		text-align: center;
	}
	.speakers__list {
		margin-top: 2rem;
	}
	.effect-item__img {
		width: 9rem;
		height: 9rem;
	}
	.videomedit__content {
		height: 30rem;
	}
	body {
		line-height: 130%;
	}
}


@media (max-width: 541px){
	.title {
		margin-right: 9rem;
	}
	.members__img {
		width: 10.62rem;
		height: 6rem;
	}
	.speakers__list {
		border-bottom: 1px solid var(--blue-color);
		margin-bottom: 2rem;
		padding-bottom: 1rem;
	}
	.speaker-help-mobile {
		display: block;
	}
	.mobile-dnone {
		display: none;
	}
	.speaker-mobile {
		display: block;
	}
	.speaker-mobile.speaker__name {
		margin-top: 0rem;
	}
	.videomedit__header {
		flex-direction: column;
	}
	.videomedit__title {
		margin-bottom: 1rem;
	}
	.logo-and-contact {
		margin-right: 4rem;
	}
	.group {
		width: 15rem;
	}
	body {
		line-height: 120%;
	}
}

@media (max-width: 499px) {
	html {
		font-size: 80%;
	}
	.title {
		margin-right: 4rem;
	}
	.members__galerey {
		flex-direction: column;
		align-items: center;
	}
	.members__img {
		width: 17.7rem;
		height: 10rem;
	}
}

@media (max-width: 430px) {
	html {
		font-size: 75%;
	}
	.title {
		margin-right: 2rem;
	}
	.effect-item__img {
		width: 8rem;
		height: 8rem;
	}
	.speakers__list {
		flex-direction: column;
		margin-top: 1rem;
	}
	.speaker {
		width: 90vw;
	}
	.speaker-help {
		width: 90vw;
	}
	.speaker__info {
		flex-direction: row;
		justify-content: center;
	}
	.speaker__name {
		text-align: left;
		margin-top: 0;
	}
	.speakers-continue {
		flex-direction: column;
		justify-content: center;
	}
	.effects {
		flex-direction: column;
		align-items: center;
	}
	.effects__item {
		flex-direction: row-reverse;
		gap: 1rem;
		width: 80vw;
		min-height: 10rem;
	}
	.speakers__title {
		text-align: center;
	}
	.header {
		margin-right: 0;
	}
	.logo_in_header {
		margin-right: 1rem;
	}
}

@media (max-width: 370px) {
	.groups__list {
		flex-direction: column;
	}
	.group {
		width: 90vw;
		margin-bottom: 2rem;
	}
	.videomedit__content {
		height: 25rem;
	}
	:root {
		--title-size: 1.1rem;
		--subtitle-size: 1rem;;
	}
	.title {
		margin-right: 0.5rem;
	}
}

@media (max-width: 320px) {
	.footer__content {
		flex-direction: column;
		align-items: center;
	}
	.footer__logo {
		margin: 0;
	}
	.logo-and-contact {
		margin: 0;
		margin-bottom: 1rem;
	}
	.videomedit__content {
		height: 20rem;
	}
}