.first_block {
	background: url('../src/img/backgrounds/first_block.png') center / cover no-repeat;
}

.header {
	background: url('../src/img/backgrounds/header_element.svg') right top no-repeat;
	height: 6.25rem;
	margin-right: 22px;
	margin-bottom: 2.31rem;
	z-index: 100;
	width: 100%;
	transition: .10s;
}

.header_fixed {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #EAF9FF;
	box-shadow: 0px -4px 0px 0px #00B8FF inset;
	height: 5.625rem;
	transition: .10s;
}

.header_fixed .header__content {
	padding-top: 0.3125rem;
}

.header__content {
	display: flex;
	padding-top: 3rem;

}

.is_none {
	display: none;
}

.logo_in_header {
	width: 4.82075rem;
	height: 4.69669rem;
	margin: auto 0; 
	margin-right: 0.9375rem;
}

.logo_in_about {
	width: 20.72063rem; 
	height: 20.1875rem;
	transition: .5s;
}

.logo_in_about__resize {
	width: 6.25rem; 
	height: 6.25rem;
	transition: .5s;
}

.title {
	width: 8.42456rem;
	margin-right: 15.01rem;
	margin-left: 0.69rem;
	align-self: center;
}

.contact {
	color: var(--red-color);
	font-size: var(--subtitle-size);
	align-self: center;
}

.about {
	display: flex;
	margin-bottom: 1.87rem;
}

.about__text {
	width: 664px;
	margin: auto 0;
	margin-left: 3.4rem;
}

.about__company {
	margin-bottom: 4.69rem;
	color: var(--darkblue-color);
	font-size: var(--boldtext-size);
}

.about__company span {
	font-weight: 700;
}

.about__method {
	color: var(--gray-color);
}

.about__method h4 {
	margin-bottom: 1.87rem;
}

.about__method p {
	font-weight: 400;
}

.effects {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.87rem;
}

.effects__item {
	width: 20rem;
	text-align: center;
	color: var(--gray-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.effect-item__text-wrap {
	margin-bottom: 1.44rem;
}

.effect-item__title {
	font-size: var(--boldtext-size);
	font-weight: 700;
}
.effect-item__text {
	font-weight: 400;
	
}

/*.effects__item:nth-last-child(1) .effect-item__text{
	margin-bottom: 2.75rem;
}*/
.effect-item__img {
	width: 11.8125rem;
	height: 11.8125rem;
}

.grad_end_first_block {
	background: linear-gradient(180deg, rgba(235, 249, 255, 0.00) 0%, #EBF9FF 100%);
}

.speakers {
	

}

.speakers__list {
	display: flex;
	justify-content: space-between;
	margin-top: 0.13rem;
}

.speaker {
	width: 30.75rem;
/*	margin-left: 1.5rem;*/
}

.speaker-mobile {
	display: none;
}
.speaker-help-mobile {
	display: none;
}

.speaker__info {
	display: flex;
	padding-bottom: 1.875rem;
}

.speaker__text {
	width: 14.625rem;
/*	margin: auto 0;*/
	margin-right: 0.72rem;
}

.speaker__name {
	margin-top: 2.18rem;
	margin-bottom: 0.75rem;
	line-height: normal;
}
.speaker__about {
	color: var(--darkblue-color);
}
.speaker_img {
	width: 13.75rem;
	height: 18.625rem;
}

.speakers-continue {
	display: flex;
	justify-content: space-between;
}

.speaker-help {
	width: 30.75rem;
/*	margin-left: 35px;*/
}

.speaker-help__text {
	color: #724351;
	font-weight: 400;
	font-size: var(--boldtext-size);
	margin-bottom: 1.875rem;
}

.speaker-help__text span {
	font-weight: 700;
}


.audio-player {
	display: flex;
}

.toggle-play:hover {
	cursor: pointer;
}

.toggle-play {
	margin-right: 0.625rem;
}

.about-method.toggle-play {
	background: url('../src/img/elements/play_audio1.svg') center / contain no-repeat;
	width: 2.10938rem;
	height: 2.10938rem;
}

.audio-player p {
	align-self: center;
	color: var(--red-color);
	font-size: var(--subtitle-size);
}

.second_block {
	background: url('../src/img/backgrounds/second_block.png') center/ cover no-repeat;
	padding-top: 1.25rem;
	margin-bottom: 0.625rem;
}

.groups__title {
	margin-bottom: 1.4375rem;
}

.groups__list {
	display: flex;
	justify-content: space-around;
}

.group {
	display: flex;
	width: 31.25rem;
	color: var(--red-color);
	font-size: var(--subtitle-size);
}

.group img {
	margin-right: 0.625rem;
	align-self: start;
}

.members {
	padding-top: 8.125rem;
	margin-bottom: 1.625rem;
}
.members__title {
	color: var(--white-color);
	margin-bottom: 1.625rem;
}
.members__galerey {
	display: flex;
	justify-content: space-between;
}

.members__img {
	width: 20rem;
	height: 11.25rem;
}

.videomedit {
}

.videomedit__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}

.videomedit__title {
	color: var(--white-color);
}

.about-videomedit.toggle-play {
	background: url('../src/img/elements/play_audio2.svg') center / contain no-repeat;
	width: 2.10938rem;
	height: 2.10938rem;
}

.about-videomedit p {
	color: var(--white-color);
}

.videomedit__content {
	height: 35.4375rem;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.video {
	border: 3px solid #FFF;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.video[poster] {
	object-fit: fill;
}

.play_video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all .2s ease;
	display: flex;
	justify-content: center;
}

.play_video.hide {
	opacity: 0;
	visibility: hidden;
}

.play_video__btn:hover {
	cursor: pointer;
}

.play_video__btn {
	align-self: center;
	width: 7.5rem;
	height: 7.5rem;
}

.footer {
	background: url('../src/img/backgrounds/footer.png') bottom / cover no-repeat;
}

.footer__content {
	padding-top: 1.875rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 3.125rem;
}

.logo-and-contact {
	display: flex;
}

.footer__logo {
	width: 8.8125rem;
	height: 8.58575rem;
	margin-right: 2.81rem;
}

.warning {
	display: flex;
	align-self: center;
	color: var(--red-color);
	font-size: var(--subtitle-size);
	font-weight: 700;
}

.warning__icon {
	margin-right: 0.625rem;
	width: 1.625rem;
	height: 1.625rem;
}





